#result-div p,
#products-div p {
  min-height: 1em;
  background-color: rgb(122, 122, 145);
  transition: 1s;
}
#result-div {
  background-color: rgb(122, 122, 145);
}
#result-div p:hover,
#products-div p:hover {
  height: 10em;
  height: auto;
  min-height: 1em;
}
