/*

                ROOT FILE FOR A WEBSITE

*/
/*-------------------------------------------------------- ROOT*/
:root {
  --txt-1: white;
  --txt-2: black;

  --bg-1: #323232;
  --bg-2: #666666;

  --acc-1: #0067ff;
  --acc-2: white;

  --tr-f: 0.3s;
  --tr-s: 0.7s;
}
/*-------------------------------------------------- HTML + BODY*/
html,
body {
  font-family: "Comfortaa", cursive;
  font-family: "Baloo Da 2", cursive;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--txt-1);
  text-align: center;
  background-color: var(--bg-1);
}
main {
  padding-top: 10em;
  min-height: 90vh;
}
section {
  max-width: 1000px;
  margin: auto;
}
a {
  text-decoration: none;
  color: var(--txt-1);
}
footer {
  background: black;
  border-top: 2px solid gray;
  padding: 1em;
  min-height: 10vh;
}
svg {
  fill: white;
}
/*---------------------------------------------- SCREEN SISES*/
/*------------------------------------------------------ BIG*/
@media only screen and (min-width: 600px) {
  #nav svg {
    display: none;
  }
  #nav ul {
    display: flex;
    justify-content: space-around;
  }
  #nav {
    top: 1em;
  }
  main {
    padding-top: 10em;
  }
  #social svg {
    height: 3em;
  }
}
/*---------------------------------------------------- SMALL*/
@media only screen and (max-width: 600px) {
  #nav p {
    display: none;
  }
  #nav {
    bottom: 0;
    width: 100vw;
  }
  #nav svg {
    padding: 1em;
  }
  #social svg {
    height: 2.5em;
  }
  footer {
    padding-bottom: 5em;
  }
  #social {
    max-width: 3.5em;
  }
  #name {
    display: none;
  }
}
/*------------------------------------------------------ BUTTON */
.button {
  position: relative;
  background: none;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
}
.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--acc-2);
  z-index: -1;
  transition: var(--tr-s);
}
.button:before {
  border-radius: 20% 20% 0 0;
}
.button:hover::before {
  height: 180%;
}
.button:hover svg,
.button:hover a {
  transition: var(--tr-s);
  fill: black;
  color: black;
}
/*--------------------------------------------------- SCROLL BAR*/
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: var(--bg-1);
  overflow: hidden;
}
body::-webkit-scrollbar-thumb {
  background: var(--acc-1);
  border-radius: 3px;
}
